---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Outfits Nimbus">
	<h1>Hola Nimbus</h1>
</Layout>

<style>
  .layout-root {
    min-height: 100vh;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    box-sizing: border-box;
  }
</style>