---

---

<header>
    <div class="search">
        <div class="">
            <input type="text" placeholder="Search..." />
        </div>
        <h1>Nimbus Style</h1>
    </div>
</header>

<style>
    header {
        padding: 1rem 2rem;
        background-color: #a64472;
        box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(12px) saturate(160%);
        -webkit-backdrop-filter: blur(12px) saturate(160%);
        border-bottom: 1.5px solid rgba(255, 255, 255, 0.08);
        border-radius: 0 0 18px 18px;        
    }
    .search {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 20rem;
    }

    header h1 {
        margin: 0;
        font-size: 2rem;
        color: #fff9db;
    }

    header input[type="text"] {
        padding: 0.8rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 28rem;
    }
</style>
